<html>
    <head> 
        <style>
p{
    color:white;
    font-family: "Arial Black";
}
            </style>
    </head>
    <body>
        <header>
            {% include "twomenu.html"%}
        </header>
        <main>
            <div style = "margin-left: 3%">
            <h1>Відгуки та фотозвіт</h1>
            </div>
            <div style = "margin-left: 1100px">
                <h2><p>Відгуки наших клієнтів</p></h2></div>
                <div style = "margin-left:850px"><p>Замовляв установку бойлера — майстер приїхав вчасно, усе зробив акуратно й швидко. Дуже задоволений сервісом!</p>
                <P>⭐⭐⭐⭐⭐</P>
                <p>Зверталась із протіканням труби. Приїхали за годину, усе полагодили. Ціни адекватні, сервіс на рівні.</p>
                <P>⭐⭐⭐⭐⭐</P>
                <p>Викликали для заміни змішувача у ванній. Роботу виконали якісно, але довелося трохи зачекати через завантаження майстрів.</p>
                <P>⭐⭐⭐⭐</P>
                <p>Професійний підхід, видно, що майстри розуміються на своїй справі. Все пояснили просто і зрозуміло.</p>
                <p>⭐⭐⭐⭐⭐</p>
                <p>Зручне замовлення через телефон, приїхали того ж дня. Робота виконана на відмінно.</p>
                <p>⭐⭐⭐⭐⭐</p></div>
                <div style="margin-left : 1200px"><h2>Фотозвіт</h2></div>
            <div style = "display: flex">
            <div style ="margin-left : 400px"><img src="static/sant1.jpg"></div>
            <div style ="margin-left : 100px"><img src ="static/sant2 (1).png"></div>
            <div style ="margin-left : 100px"><img src ="static/sant3 (1).jpg"></div></div>