<html>
    <head> 
        <style>
p{
    color:white;
    font-family: "Arial Black";
}
            </style>
    </head>
    <body>
        <header>
            {% include "twomenu.html"%}
        </header>
        <main>
            <div style = "margin-left: 3%">
            <h1>Контакти та доставка</h1>
            <h2>

                Контакти:

                🏪 Адреса Складу: м. Олто, вул. Водопровідна, 15, Адреса офісу:Теплопровідна 73а
                📞 Гаряча лінія: +38 (044) 123-45-67


                Графік роботи Складу:
                Пн–Сб: 08:00–21:00
                Нд: вихідний</h2>
             <h2>
                <p>Доставка:</p>

                <p>🚚 Ми пропонуємо доставку по всій Україні через надійні служби доставки.</p>

                <p>📦 Мінімальна сума замовлення для безкоштовної доставки становить 2000 Грн.</p>

                <p>⏱️ Термін доставки зазвичай складає від 2 до 7 робочих днів залежно від вашого місцезнаходження.</p>

                <p>📬 Після відправки замовлення ви отримаєте номер для відстеження посилки.</p>

                <p>Якщо у вас є додаткові питання щодо доставки, будь ласка, зв'яжіться з нашою службою підтримки клієнтів.</p></h2>
            <div style="margin-left : 900px"><img src ="static/kluch.png"></div></div>