<html>
    <head> 
        <style>
p{
    color:white;
    font-family: "Arial Black";
}
            </style>
    </head>
    <body>
        <header>
            {% include "twomenu.html"%}
        </header>
        <main>
            <h1>Наш Асортимент</h1>
            <div style="display : flex">
                <div>
                <img src="static/Toilet.png">
                <p> Туалет білий</p>
                <p>Ціна:4500Грн</p>
                </div>

                
                <div>
                <img src="static/Trubas.png">
                <p> Труба нержавійка(ціна за 10метрів)</p>
                <p>German production(Prototype) Ціна:129Грн</p>
                </div>
                <div>
                <img src="static/krit.png.png">
                <p> Засіб для чищення труб "Krot" Ціна 80Грн</p>

                </div>
            </div></style>
             <div style="display: flex">
                <div>
                    <img src="static/bath.png">
                    <p>Ванна 250L</p>
                   <p>Ціна: 8679Грн</p> 
                </div>
                <div>
                    <img src="static/Fiting.png">
                    <p>Фітинг нержавійка</p>
                   <p>Ціна: 25Грн</p> 
                </div>
                <div style ="margin-left: 100px">
                    <img src="static/keramika.png">
                    <p>Засіб для миття кераміки</p>
                   <p>Ціна: 159Грн</p>
                </div>
             </div>
            <div style="display : flex" style = "margin-left: 400px">
                <div style = "margin-left: 400px">
                    <img src ="static/fin (1).jpg">
                    <p>Фінська сауна</p>
                    <p>Ціна: 149999Грн</p>
                </div>
                <div style ="margin-left: 500px">
                    <img src ="static/bas (1).jpg">
                    <p>Басейн Італ'янській мрамор</p>
                    <p>Ціна: 2999999Грн</p>
                </div>
            </div>
            <div style = "margin-left: 900px">
                <h2><p>Контакти та доставка в вкладці Контакти</p></h2>

            </div>                          
        </main>
        <footer></footer>
    </body>
</html>